/* Fondo oscuro global */
body {
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
}

/* Forzar el fondo del contenedor álbum */
.album {
    background-color: #ffffff !important;
}

/* Asegurar que las tarjetas sean oscuras */
.card {
    background-color: #000000 !important;
    border: none !important;
    margin-bottom: 20px;
}

/* Color del texto */
.card-text {
    color: #ffffff !important;
}

/* Forzar que las tarjetas se vean en cuadrícula */
.row {
    display: flex !important;
    flex-wrap: wrap !important;
}

.col {
    flex: 0 0 33.333% !important; /* Ajusta para que quepan 3 por fila */
    max-width: 33.333% !important;
    padding: 10px !important;
}